{{!-- <ul>
    <li>
        <a href="/">home</a>
    </li>
    <li>
        <a href="/contact">contact</a>
    </li>
</ul> --}}

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons"></i>Hello! Handlebars</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!"><i class="material-icons">Search</i></a></li>
        <li><a href="/"><i class="material-icons">Home</i></a></li>
        <li><a href="/contact"><i class="material-icons">Contact</i></a></li>
        <li><a href="/index"><i class="material-icons">index</i></a></li>
      </ul>
    </div>
  </nav>