<!-- Navbar goes here -->

<!-- Page Layout here -->

{{!-- ========================================================= // Header start --}}
<div class="headercontainer">
  <div class="container ct1">
    <div class="row">
      <div class="col s3">
        <div class="text">
          <h1>Hello! Handlebars</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, necessitatibus et ipsam iusto dolorem, officia excepturi earum ducimus corrupti natus architecto odio itaque.</p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
          alt="jpg">
      </div>
      <div class="col s9">
        <img
          src="https://images.unsplash.com/photo-1461301214746-1e109215d6d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
          alt="jpg">
      </div>
    </div>
  </div>
</div>